<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <div th:fragment="footer">
            <!-- /MAIN CONTENT -->
            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer fixed-buttom">
                <div class="text-center">
                    <p>
                        &copy; Copyrights <strong>Leave Request</strong>. All Rights Reserved
                    </p>
                    <div class="credits">
                        Created with Leave Reqeust template by <a href="https://templatemag.com/">TemplateMag & Dashio</a>
                    </div>
                    <a th:href="@{/home}" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="dist/lib/jquery/jquery.min.js"></script>
        <script src="dist/lib/bootstrap/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="dist/lib/jquery.dcjqaccordion.2.7.js"></script>
        <script src="dist/lib/jquery.scrollTo.min.js"></script>
        <script src="dist/lib/jquery.nicescroll.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="dist/lib/advanced-datatable/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="dist/lib/advanced-datatable/js/DT_bootstrap.js"></script>
        <!--common script for all pages-->
        <script src="dist/lib/common-scripts.js"></script>

        <!--Khusus Page Ini-->
        <script src="dist/lib/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-daterangepicker/date.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
        <script src="dist/lib/advanced-form-components.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.all.min.js"></script>

        <!--Job-->
        <script>
            $(document).ready(function () {
                $('#EditJob').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _jobId = _row.find("#id").text();
                    var _jobName = _row.find("#name").text();
                    $(this).find("#id").val(_jobId);
                    $(this).find("#name").val(_jobName);
                })
            })
        </script>
        <script>
            $(document).ready(function () {
                $('#DelJob').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _jobId = _row.find("#id").text();
                    var _jobName = _row.find("#name").text();
                    $(this).find("#id").val(_jobId);
                    $(this).find("#name").val(_jobName);
                })
            })
        </script>
        <!--End Job-->

        <script>
            $(document).ready(function () {
                $('#Approval').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _lrId = _row.find("#id").text();
                    var _lrReg = _row.find("#requester").text();
                    var _lrType = _row.find("#type").text();
                    var _lrStDa = _row.find("#startDate").text();
                    var _lrEnDa = _row.find("#endDate").text();
                    var _lrNotes = _row.find("#notes").text();
                    
                    $(this).find("#id").val(_lrId);
                    $(this).find("#requester").val(_lrReg);
                    $(this).find("#type").val(_lrType);
                    $(this).find("#startDate").val(_lrStDa);
                    $(this).find("#endDate").val(_lrEnDa);
                    $(this).find("#notes").val(_lrNotes);


                    var separate_start_date = _lrStDa.split('-');
                    var separate_end_date = _lrEnDa.split('-');
                    var object_date = new Date();

                    var date_start_leave = object_date.setFullYear(separate_start_date[0], separate_start_date[1], separate_start_date[2]);
                    var date_end_leave = object_date.setFullYear(separate_end_date[0], separate_end_date[1], separate_end_date[2]);
                    var result = (date_end_leave - date_start_leave) / (60 * 60 * 24 * 1000);
                    $('#totalLeave').val(result);
                })
            })
        </script>
        <script>
            $(document).ready(function () {
                $('#Reject').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _lrId = _row.find("#id").text();
                    var _lrReg = _row.find("#requester").text();
                    var _lrType = _row.find("#type").text();
                    var _lrStDa = _row.find("#startDate").text();
                    var _lrEnDa = _row.find("#endDate").text();
                    var _lrNotes = _row.find("#notes").text();
                    
                    $(this).find("#id").val(_lrId);
                    $(this).find("#requester").val(_lrReg);
                    $(this).find("#type").val(_lrType);
                    $(this).find("#startDate").val(_lrStDa);
                    $(this).find("#endDate").val(_lrEnDa);
                    $(this).find("#notes").val(_lrNotes);


                    var separate_start_date = _lrStDa.split('-');
                    var separate_end_date = _lrEnDa.split('-');
                    var object_date = new Date();

                    var date_start_leave = object_date.setFullYear(separate_start_date[0], separate_start_date[1], separate_start_date[2]);
                    var date_end_leave = object_date.setFullYear(separate_end_date[0], separate_end_date[1], separate_end_date[2]);
                    var result = (date_end_leave - date_start_leave) / (60 * 60 * 24 * 1000);
                    $('#totalLeave').val(result);
                })
            })
        </script>
        

        <!--        <script>
                    $(document).ready(function () {
                        $('#DelJob').on('show.bs.modal', function (e) {
                            event.preventDefault();
                            var _button = $(e.relatedTarget);
                            var _row = _button.parents("tr");
                            var _jobId = _row.find("#id").text();
                            var _jobName = _row.find("#name").text();
                            $(this).find("#id").val(_jobId);
                            $(this).find("#name").val(_jobName);
                        })
                    })
                </script>-->
        <!--        <script>
                    $(document).ready(function () {
                        $('.table .eBtn').on('click', function (event) {
                            event.preventDefault();
                            var href = $(this).attr('href');
                            $.get(href, function (employee, status) {
                                $('.myForm #id').val(employee.id);
                                $('.myForm #firstName').val(employee.firstName);
                                $('.myForm #lastName').val(employee.lastName);
                                $('.myForm #email').val(employee.email);
                                $('.myForm #phoneNumber').val(employee.phoneNumber);
                                $('.myForm #salary').val(employee.salary);
                                $('.myForm #manager option:selected').val(employee.manager);
                            });
                            $('.myForm #EditEmployee').modal();
                        });
                    });
                </script>-->
        <script>
            $(document).ready(function () {
                $('.table .btnDel').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href');
                    $.get(href, function (employee, status) {
                        $('.myForm2 #id').val(employee.id);
                        $('.myForm2 #firstName').val(employee.firstName);
                        $('.myForm2 #lastName').val(employee.lastName);
                        $('.myForm2 #email').val(employee.email);
                        $('.myForm2 #phoneNumber').val(employee.phoneNumber);
                        $('.myForm2 #salary').val(employee.salary);
                        $('.myForm2 #manager option:selected').val(employee.manager);
                    });
                    $('.myForm2 #SoftDelEmp').modal();
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $('.table .btnDelete').on('click', function (event) {
                    event.preventDefault;
                    var href = $(this).attr('href');
                    $.get(href, function (job, status) {
                        $('.myForm #id').val(job.id);
                        $('.myForm #name').val(job.name);
                    });
                    $('.delete-form #SoftDel').modal();
                });
            });
        </script>
        <script>
            $(function () {
                $(".btnEdit").click(function () {
                    var $row = $(this).closest("tr"),
                            $tds = $row.find("td");

                    $("#id").val($row.find('td:eq(0)').text());
                    $("#name").val($tds.find('td:eq(1)').text());

                    document.getElementById('id').value = $row.find('td:eq(0)').text();
                    document.getElementById('name').value = $tds.find('td:eq(1)').text();
                })
            })
        </script>

        <!--        <script>
                    $(function () {
                        var table = $('').dataTable();
        
                        $(' tbody').on('click', '.btnDelete', function () {
                            var btn = $(this), id = btn.data('id');
                            Swal.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                                if (result.value) {
                                    Swal.fire(
                                            'Deleted!',
                                            'Your file has been deleted.',
                                            'success'
                                            )
                                }
                            })
                        });
        
                        $(' tbody').on('click', '.btnSave', function () {
                            var btn = $(this), id = btn.data('id');
                            Swal.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, creat it!'
                            }).then((result) => {
                                if (result.value) {
                                    Swal.fire(
                                            'Success!',
                                            'success'
                                            )
                                }
                            })
                        });
        
                    });
                </script>-->

        <script type="text/javascript">
            $(document).ready(function () {
                var oTable = $('#hidden-table-info').dataTable({
                });
            });
        </script> 
        <script type="text/javascript">

            $(document).ready(function () {
                var oTable = $('#hidden-table-info2').dataTable({

                });
            });
        </script>

    </div>
</html>
