<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <div th:fragment="footer">
            <!-- /MAIN CONTENT -->
            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer fixed-buttom">
                <div class="text-center">
                    <p>
                        &copy; Copyrights <strong>Leave Request</strong>. All Rights Reserved
                    </p>
                    <div class="credits">
                        <!--
                          You are NOT allowed to delete the credit link to TemplateMag with free version.
                          You can delete the credit link only if you bought the pro version.
                          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                          Licensing information: https://templatemag.com/license/
                        -->
                        Created with Leave Reqeust template by <a href="https://templatemag.com/">TemplateMag & Dashio</a>
                    </div>
                    <a th:href="@{/home}" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="dist/lib/jquery/jquery.min.js"></script>
        <script src="dist/lib/bootstrap/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="dist/lib/jquery.dcjqaccordion.2.7.js"></script>
        <script src="dist/lib/jquery.scrollTo.min.js"></script>
        <script src="dist/lib/jquery.nicescroll.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="dist/lib/advanced-datatable/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="dist/lib/advanced-datatable/js/DT_bootstrap.js"></script>
        <!--common script for all pages-->
        <script src="dist/lib/common-scripts.js"></script>
        <!--script for this page-->
        <!--sweet alert-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.all.min.js"></script>
        <script>
            $(function () {
                $(".btnEdit").click(function () {
                    var $row = $(this).closest("tr"),
                            $tds = $row.find("td");

                    $("#id").val($row.find('td:eq(0)').text());

                    document.getElementById('getId').value = $row.find('td:eq(0)').text();
                    document.getElementById('getName').value = $row.find('td:eq(1)').text();
                })
            })
        </script>

        <script>
            $(function () {
                $('').dataTable({
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    language: {
                        search: "INPUT",
                        searchPlaceholder: "Search..."
                    },
                    'info': true,
                    'autoWidth': true
                });
            });
        </script>
        <script>
            $(function () {
                var table = $('').dataTable();

                $(' tbody').on('click', '.btnDelete', function () {
                    var btn = $(this), id = btn.data('id');
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.value) {
                            Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                    )
                        }
                    })
                });
                
                $(' tbody').on('click', '.btnSave', function () {
                    var btn = $(this), id = btn.data('id');
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, creat it!'
                    }).then((result) => {
                        if (result.value) {
                            Swal.fire(
                                    'Success!',
                                    'success'
                                    )
                        }
                    })
                });

            });
        </script>

        <script type="text/javascript">

            $(document).ready(function () {
                var oTable = $('#hidden-table-info').dataTable({
                });
            });
        </script>
        <script type="text/javascript">

            $(document).ready(function () {
                var oTable = $('#hidden-table-info2').dataTable({
                });
            });
        </script>

    </div>
</html>
