<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <div th:fragment="footer">
            <!-- /MAIN CONTENT -->
            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer fixed-buttom">
                <div class="text-center">
                    <p>
                        &copy; Copyrights <strong>Leave Request</strong>. All Rights Reserved
                    </p>
                    <div class="credits">
                        Created with Leave Reqeust template by <a href="https://templatemag.com/">TemplateMag & Dashio</a>
                    </div>
                    <a th:href="@{/home}" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="dist/lib/jquery/jquery.min.js"></script>
        <script src="dist/lib/bootstrap/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="dist/lib/jquery.dcjqaccordion.2.7.js"></script>
        <script src="dist/lib/jquery.scrollTo.min.js"></script>
        <script src="dist/lib/jquery.nicescroll.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="dist/lib/advanced-datatable/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="dist/lib/advanced-datatable/js/DT_bootstrap.js"></script>
        <!--common script for all pages-->
        <script src="dist/lib/common-scripts.js"></script>

        <!--Khusus Page Ini-->
        <script src="dist/lib/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-daterangepicker/date.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="dist/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
        <script src="dist/lib/advanced-form-components.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.13.0/dist/sweetalert2.all.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#EditJob').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _jobId = _row.find("#id").text();
                    var _jobName = _row.find("#name").text();
                    $(this).find("#id").val(_jobId);
                    $(this).find("#name").val(_jobName);
                })
            })
        </script>
        <script>
            $(document).ready(function () {
                $('#DelJob').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _jobId = _row.find("#id").text();
                    var _jobName = _row.find("#name").text();
                    $(this).find("#id").val(_jobId);
                    $(this).find("#name").val(_jobName);
                })
            })
        </script>

        <script>
            $(document).ready(function () {
                $('#Approval').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _Id = _row.find("#id").text();
//                    var _Requester = _row.find("#requester").text();
//                    var _StartDate = _row.find("#startDate").text();
//                    var _EndDate = _row.find("#endDate").text();
//                    var _Notes = _row.find("#notes").text();
//                    var _Status = _row.find("#status").text();
                    $(this).find("#id").val(_Id);
//                    $(this).find("#requester").val(_Requester);
//                    $(this).find("#startDate").val(_StartDate);
//                    $(this).find("#endDate").val(_EndDate);
//                    $(this).find("#notes").val(_Notes);
//                    $(this).find("#status").val(_Status);
                })
            })
        </script>
<!--        <script>
            $(document).ready(function () {
                $('#Approval').on('show.bs.modal', function (e) {
                    event.preventDefault();
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    var _id = _row.find("#id").text();
                    var _type = _row.find("#type").text();
                    var _startDate = _row.find("#startDate").text();
                    var _endDate = _row.find("#endDate").text();
                    var _notes = _row.find("#notes").text();
                    var _status = _row.find("#status").text();
                    $(this).find("#id").val(_id);
                    $(this).find("#type").val(_type);
                    $(this).find("#startDate").val(_startDate);
                    $(this).find("#endDate").val(_endDate);
                    $(this).find("#notes").val(_notes);
                })
            })
        </script>-->

        <script>
            $(document).ready(function () {
                $('.table .eBtn').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href');
                    $.get(href, function (employee, status) {
                        $('.myForm #id').val(employee.id);
                        $('.myForm #firstName').val(employee.firstName);
                        $('.myForm #lastName').val(employee.lastName);
                        $('.myForm #email').val(employee.email);
                        $('.myForm #phoneNumber').val(employee.phoneNumber);
                        $('.myForm #salary').val(employee.salary);
                        $('.myForm #manager option:selected').val(employee.manager);
                    });
                    $('.myForm #EditEmployee').modal();
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $('.table .btnDelete').on('click', function (event) {
                    event.preventDefault;
                    var href = $(this).attr('href');
                    $.get(href, function (job, status) {
                        $('.myForm #id').val(job.id);
                        $('.myForm #name').val(job.name);
                    });
                    $('.delete-form #SoftDel').modal();
                });
            });
        </script>
        <script>
            $(function () {
                $(".btnEdit").click(function () {
                    var $row = $(this).closest("tr"),
                            $tds = $row.find("td");

                    $("#id").val($row.find('td:eq(0)').text());
                    $("#name").val($tds.find('td:eq(1)').text());

                    document.getElementById('id').value = $row.find('td:eq(0)').text();
                    document.getElementById('name').value = $tds.find('td:eq(1)').text();
                })
            })
        </script>

<!--        <script>
            $(function () {
                $('').dataTable({
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    language: {
                        search: "INPUT",
                        searchPlaceholder: "Search..."
                    },
                    'info': true,
                    'autoWidth': true
                });
            });
        </script>-->

        <script type="text/javascript">            
            $(document).ready(function () {
                var oTable = $('#hidden-table-info').dataTable({
                });
            });
        </script> 
        <script type="text/javascript">

            $(document).ready(function () {
                var oTable = $('#hidden-table-info2').dataTable({

                });
            });
        </script>
        
    </div>
</html>
