<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headercss">

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="Dashboard">
            <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

            <!-- Favicons -->
            <link href="dist/img/favicon.png" rel="icon">
            <link href="dist/img/apple-touch-icon.png" rel="apple-touch-icon">

            <!-- Bootstrap core CSS -->
            <link href="dist/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!--external css-->
            <link href="dist/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="dist/css/zabuto_calendar.css">
            <link rel="stylesheet" type="text/css" href="dist/lib/gritter/css/jquery.gritter.css" />
            <!-- Custom styles for this template -->
            <link href="dist/css/style.css" rel="stylesheet">
            <link href="dist/css/style-responsive.css" rel="stylesheet">

            <link href="dist/lib/advanced-datatable/css/demo_page.css" rel="stylesheet" />
            <link href="dist/lib/advanced-datatable/css/demo_table.css" rel="stylesheet" />
            <link rel="stylesheet" href="dist/lib/advanced-datatable/css/DT_bootstrap.css" />


        </head>
    </div>
</html>
