<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head><title>List History</title></head>
    <div th:replace="header :: headercss"></div>

    <body>
        <section id="container">
            <!-- **********************************************************************************************************************************************************
                TOP BAR CONTENT & NOTIFICATIONS
                *********************************************************************************************************************************************************** -->
            <!--header start-->
            <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
                <!--logo start-->
                <a th:href="@{/home}"class="logo"><b>Admin<span> LeReq</span></b></a>
                <!--logo end-->

                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" th:href="@{/login}">Logout</a></li>
                    </ul>
                </div>
            </header>
            <!--header end-->
            <!-- **********************************************************************************************************************************************************
                MAIN SIDEBAR MENU
                *********************************************************************************************************************************************************** -->
            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu" id="nav-accordion">
                        <p class="centered"><a th:href="@{/user/profile}"><img src="dist/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
                        <h5 class="centered">Arif Fridasari</h5>
                        <li class="mt">
                            <a th:href="@{/home}">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="dist/javascript:;">
                                <i class="fa fa-th"></i>
                                <span>Data</span>
                            </a>
                            <ul class="sub">
                                <li><a th:href="@{/account}">Account</a></li>
                                <li><a th:href="@{/employee}">Employee</a></li>
                                <li><a th:href="@{/job}">Job</a></li>
                                <li><a th:href="@{/role}">Role</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a class="active" href="javascript:;">
                                <i class="fa fa-tasks"></i>
                                <span>Request</span>
                            </a>
                            <ul class="sub">
                                <li><a th:href="@{/listrequest}">List Request</a></li>
                                <li class="active"><a th:href="@{/history}">History</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
            <!-- **********************************************************************************************************************************************************
                MAIN CONTENT
                *********************************************************************************************************************************************************** -->
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <h3><i class="fa fa-angle-right"></i>  List Pending Request</h3>
                    <div class="row mb">
                        <!-- page start-->
                        <div class="content-panel">
                            <div class="adv-table">
                                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                    <thead>
                                        <tr>
                                            <!--<th>No.</th>-->
                                            <th>ID</th>
                                            <th>Requester</th>
                                            <th>Type</th>
                                            <th>Notes</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Total Leave</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="LR:${dataLR}">
                                            <td th:text="${LR.id}"></td>
                                            <td th:text="${LR.requester.firstName}"></td>
                                            <td th:text="${LR.type.name}"></td>
                                            <td th:text="${LR.notes}"></td>
                                            <td th:text="${LR.startDate}"></td>
                                            <td th:text="${LR.endDate}"></td>
                                            <td th:text="${LR.totalLeave}"></td>
                                            <td th:text="${LR.status.name}"></td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Approved</button>
                                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>&nbsp;&nbsp;Rejected</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- page end-->
                    </div>
                    <!-- /row -->
                </section>
                <!-- /wrapper -->
            </section>
            <div th:replace="footer :: footer"></div>
    </body>

</html>
