<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head><title>Leave-Request</title></head>
    <div th:replace="header :: headercss"></div>

    <body>
        <section id="container">
            <!-- **********************************************************************************************************************************************************
                TOP BAR CONTENT & NOTIFICATIONS
                *********************************************************************************************************************************************************** -->
            <!--header start-->
            <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
                <!--logo start-->
                <a th:href="@{/home}"class="logo"><b>Le<span> Req</span></b></a>
                <!--logo end-->

                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </header>
            <!--header end-->
            <!-- **********************************************************************************************************************************************************
                MAIN SIDEBAR MENU
                *********************************************************************************************************************************************************** -->
            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu" id="nav-accordion">
                        <p class="centered"><a th:href="@{/user/profile}"><img th:src="@{/dist/img/ui-sam.jpg}" class="img-circle" width="80"></a></p>
                        <h5 class="centered">Arif Fridasari</h5>
                        <li class="mt">
                            <a class="active" th:href="@{/user}">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-edit"></i>
                                <span>Leave Request</span>
                            </a>
                            <ul class="sub">
                                <li><a th:href="@{/user/request}">Request</a></li>
                                <li><a th:href="@{/user/information}">Information</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
            <!-- **********************************************************************************************************************************************************
                MAIN CONTENT
                *********************************************************************************************************************************************************** -->
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-9 main-chart">
                            <div class="row mt">
                                <!-- SERVER STATUS PANELS -->
                                <a th:href="@{/account}">
                                    <div class="col-md-4 col-sm-4 mb">
                                        <div class="grey-panel pn donut-chart">
                                            <div class="weather pn">
                                                <i style="color:black" class="fa fa-user fa-4x"></i>
                                                <h2 style="color:black">Account</h2>
                                                <h4></h4>
                                            </div>
                                        </div>      
                                    </div>
                                </a>
                                <!-- /col-md-4-->
                                <a th:href="@{/employee}">
                                    <div class="col-md-4 col-sm-4 mb">
                                        <div class="grey-panel pn donut-chart">
                                            <div class="weather pn">
                                                <i style="color:black" class="fa fa-edit fa-4x"></i>
                                                <h2 style="color:black">Request</h2>
                                                <h4></h4>
                                            </div>
                                        </div>                                    

                                    </div>
                                </a>
                                <!-- /col-md-4 -->
                                <a th:href="@{/job}">
                                    <div class="col-md-4 col-sm-4 mb">
                                        <div class="grey-panel pn donut-chart">
                                            <div class="weather pn">
                                                <i style="color:black" class="fa fa-tasks fa-4x"></i>
                                                <h2 style="color:black">Information</h2>
                                                <h4></h4>
                                            </div>
                                        </div>   
                                    </div>
                                </a>
                                <!-- /col-md-4 -->
                            </div>
                            <!-- /row -->

                            <div class="row">
                                <!-- WEATHER PANEL -->
                                <a th:href="@{/role}">
                                    <div class="col-md-4 col-sm-4 mb">
                                        <div class="grey-panel pn donut-chart">
                                            <div class="weather pn">
                                                <i style="color:black" class="fa fa-reply fa-4x"></i>
                                                <h2 style="color:black">Logout</h2>
                                                <h4></h4>
                                            </div>
                                        </div>   
                                    </div>
                                </a>
                                <!-- /col-md-4-->
                                <!-- DIRECT MESSAGE PANEL -->
                                
                                <!-- /col-md-8  -->
                            </div>
                            <!-- /row -->

                            <!-- /row -->
                        </div>
                        <!-- /col-lg-9 END SECTION MIDDLE -->
                        <!-- **********************************************************************************************************************************************************
                            RIGHT SIDEBAR CONTENT
                            *********************************************************************************************************************************************************** -->
                        <div class="col-lg-3 ds">
                            <!--COMPLETED ACTIONS DONUTS CHART-->
                            <!-- CALENDAR-->
                            <div id="calendar" class="mb">
                                <div class="panel green-panel no-margin">
                                    <div class="panel-body">
                                        <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                            <div class="arrow"></div>
                                            <h3 class="popover-title" style="disadding: none;"></h3>
                                            <div id="date-popover-content" class="popover-content"></div>
                                        </div>
                                        <div id="my-calendar"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- / calendar -->
                        </div>
                        <!-- /col-lg-3 -->
                    </div>
                    <!-- /row -->
                </section>
            </section>
            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer">
                <div class="text-center">
                    <p>
                        &copy; Copyrights <strong>Leave Request</strong>. All Rights Reserved
                    </p>
                    <div class="credits">
                        <!--
                          You are NOT allowed to delete the credit link to TemplateMag with free version.
                          You can delete the credit link only if you bought the pro version.
                          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                          Licensing information: https://templatemag.com/license/
                        -->
                        Created with Leave Reqeust template by <a href="https://templatemag.com/">TemplateMag & Dashio</a>
                    </div>
                    <a th:href="@{/home}" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>
        <!-- js placed at the end of the document so the pages load faster -->
        <script th:src="@{/dist/lib/jquery/jquery.min.js}"></script>

        <script th:src="@{/dist/lib/bootstrap/js/bootstrap.min.js}"></script>
        <script class="include" type="text/javascript" th:src="@{/dist/lib/jquery.dcjqaccordion.2.7.js}"></script>
        <script th:src="@{/dist/lib/jquery.scrollTo.min.js}"></script>
        <script th:src="@{/dist/lib/jquery.nicescroll.js}" type="text/javascript"></script>
        <script th:src="@{/dist/lib/jquery.sparkline.js}"></script>
        <!--common script for all pages-->
        <script th:src="@{/dist/lib/common-scripts.js}"></script>
        <script type="text/javascript" th:src="@{/dist/lib/gritter/js/jquery.gritter.js}"></script>
        <script type="text/javascript" th:src="@{/dist/lib/gritter-conf.js}"></script>
        <!--script for this page-->
        <script th:src="@{/dist/lib/sparkline-chart.js}"></script>
        <script th:src="@{/dist/lib/zabuto_calendar.js}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
            var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Dashio!',
                    // (string | mandatory) the text inside the notification
                    text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
                    // (string | optional) the image to display on the left
                    th:image: '@{/dist/img/ui-sam.jpg}',
                    // (bool | optional) if you want it to fade out on its own or just sit there
                    sticky: false,
                    // (int | optional) the time you want it to be alive for before fading out
                    time: 8000,
                    // (string | optional) the class name you want to apply to that specific message
                    class_name: 'my-sticky-class'
            });
                    return false;
            }
            );
        </script>
        <script type="application/javascript">
            $(document).ready(function() {
            $("#date-popover").popover({
            html: true,
            trigger: "manual"
            });
            $("#date-popover").hide();
            $("#date-popover").click(function(e) {
            $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
            action: function() {
            return myDateFunction(this.id, false);
            },
            action_nav: function() {
            return myNavFunction(this.id);
            },
            ajax: {
            url: "show_data.php?action=1",
            modal: true
            },
            legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
            },
            {
            type: "block",
            label: "Regular event",
            }
            ]
            });
            });

            function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
            }
        </script>
    </body>

</html>
