<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="m_listrequest">

<!--    <div class="FormApproval">
    <div class="modal fade" id="Approval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Form Leave Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row mt">
                        <div class="col-lg-12">
                            <div class="form-panel">
                                <div class=" form">
                                    <form th:action="@{/leaveApproval/id}" method="post" class="form-horizontal">
                                        <div class="form-group ">
                                            <label for="id" class="control-label col-lg-3">LR</label>
                                            <div class="col-lg-7">
                                                <input class=" form-control" id="id" name="id" type="text" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                                <label for="requester" class="control-label col-lg-3">Employee</label>
                                                <div class="col-lg-7">
                                                    <select name="requester" id="type" class="form-control">
                                                        <option value="">-- Select Employee --</option>
                                                        <option th:each="data:${dataEmployee}" th:value="${data.id}" th:text="${data.firstName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="type" class="control-label col-lg-3">Type Leave</label>
                                                <div class="col-lg-7">
                                                    <select name="type" id="type" class="form-control">
                                                        <option value="">-- Select Type --</option>
                                                        <option th:each="data:${dataType}" th:value="${data.id}" th:text="${data.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="form-group ">
                                            <label for="requester" class="control-label col-lg-3">Employee</label>
                                            <div class="col-lg-7">
                                                <input class=" form-control" id="requester" name="requester" type="text" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="type" class="control-label col-lg-3">Type Leave</label>
                                            <div class="col-lg-7">
                                                 <input class=" form-control" id="type" name="type" type="text" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="startDate" class="control-label col-lg-3">Start Date</label>
                                            <div class="col-lg-7">
                                                 <input class=" form-control" id="startDate" name="startDate" type="text" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="endDate" class="control-label col-lg-3">End Date</label>
                                            <div class="col-lg-7">
                                                 <input class=" form-control" id="endDate" name="endDate" type="text" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="notes" class="control-label col-lg-3">Notes</label>
                                            <div class="col-lg-7">
                                                <textarea class="form-control" name="notes" id="notes" placeholder="Your Notes" rows="5" data-rule="required" data-msg="Please write something for us" readonly></textarea>
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-theme" type="submit">Approved</button>
                                                <button class="btn btn-theme04" type="button">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
